<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style_profil.css')}}">
</head>

<body> 
    <header>
        <div class="profile_block">
            <img src="{{url_for('static', filename='img/student.jpg')}}">
            <div class="username-status">
                    <div class="username">
                        {{current_user.username}}
                    </div>
                    <div class="status">
                        {{status}}
                    </div>
            </div>
        </div>
        <a href="{{url_for('index')}}">
            <img src="{{url_for('static', filename='img/homepage.png')}}">
        </a>
    </header>

 
    <div class="contenu">
        <div id="colonne">
            <a class="colonne_onglet" href="{{ url_for('profil_visualization_history', status='Etudiant', username='Inès VATI') }}">Visualization History</a>
            <a class="colonne_onglet" href="{{ url_for('profil_tutorial', status='Etudiant', username='Inès VATI') }}">See your progress in the tutorial !</a>
            <a class="colonne_onglet" href="{{ url_for('profil_change_parameters', status='Etudiant', username='Inès VATI') }}">Change parameters of your account</a>
            <a class="colonne_onglet" href="{{ url_for('logout') }}">Log Out !</a>
            <a class="colonne_onglet">Delete my account</a>
        </div>
        <div id="block">
            <h1 class="page-title">{{title}}</h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>