html {
    background-image: url("../img/wallpaper_deep_learning.jpg");
    background-attachment : fixed;
}

body {
    margin: 0;
    padding : 0;
}

header{
    height : 80px;
    width : 100%;
    background-color: white;
    color: rgb(7, 30, 80);
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 10px;
}

header img {
    margin-right: 20px;
}

.profile_block {
    display : flex;
    flex-direction : row;
}

img{
    width:70px;
    height: 70px;
}

.username-status {
    display: flex;
    width : 100%;
    flex-direction: column;
    color: rgb(7, 30, 80);
    margin : 10px;
}

.username {
    font-size : 30px;
    border : black 2px;
}

.status {
    font-size:15px;
    border : black 2px;
}

.contenu {
    height : 1200 px;
    display : flex;
    flex-direction: row;
    justify-content : space-between;
    margin: 30px 5px;
}

.page-title {
    color :rgb(7, 30, 80);
    font-size: 22px;
    margin-left: 10px;
}

#colonne {
    background-color: rgb(255,255,255,0.5);
    height : 350px;
    width : 30%;
    display : flex;
    flex-direction: column;
    justify-content : space-evenly;
    align-items: center;
}

.colonne_onglet{
    width : 100%;
    color : white;
    text-align: center;
    font-size: 15px;
    height : 40px;
}

#block {
    background-color: rgb(255,255,255,0.5);
    width : 100%;
    height : 350px;
    margin : 0px 20px;
}

#block p {
    margin-left:30px;
}

.block-text {
    margin : 30px;
}

  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 30px;
    background : rgb(7, 30, 80);
    color: #dddddd;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
    color:rgb(7, 30, 80);
  }